@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: url("/fonts/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Opens Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Opens Sans Italic";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
}

* {
  transition: background-color 0.5s;
  font-family: "Nunito", sans-serif;
}

input::placeholder {
  font-style: italic;
}

input {
  @apply input input-bordered input-primary mx-2;
}

select {
  @apply select select-primary;
}

textarea {
  @apply textarea textarea-primary;
}
